<article class="caracterCard row mx-0 align-items-center">
    <div class="col-md-12 col-5 p-0">
        <img [src]="character.image" class="w-100 img-responsive rounded">
    </div>
    <div class="col-md-12 col-7 p-0 details py-md-2">
        <div class="row mx-0 h-100">
            <h2 class="profile-name">{{character.name}}</h2>
            <div class="profile-username"><b>{{character.status}}</b></div>
            <div class="aditional col-12 ">
                <div class="row mx-0 h-100 align-items-end">
                    <div class="col-12 p-0">
                        <div class="row mx-0">
                            <p class="p-0 col-12 my-md-1">
                                <b>Especie:</b>
                                {{character.species}}
                            </p>
                            <p class="p-0 col-12 my-md-1">
                                <b>Lugar visitado:</b>
                                {{this.characterService.getLocation(this.character)}}
                            </p>
                            <p class="p-0 col-12 my-md-1">
                                <b>Último episodio:</b>
                                {{this.characterService.getLastEpisode(this.character)}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>