.caracterCard{
    border: #6dc624 2px solid;
    background-color: #6dc624;
    color:black;
    max-width: 100%;
    width: 100%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    .details{
        *{
            color: #7e2578;
        }
    }
    .aditional{
        b{
            color: #7e2578;
        }
        p{
            color: white;
        }
    }   
    //Desktop
    @media(min-width: 768px){
        img {
            transition: all linear 0.25s;
            object-fit: cover;
        }
        &:hover{
            img {
                //filter: grayscale(100%);
                filter: opacity(0.3)
            }
            .aditional{
                opacity: 1;
            }
        }
        .details{
            position: absolute;
            width: 100%;
            height: 100%;
            .profile-name,
            .profile-username {
                transition: all linear 0.25s; 
                text-shadow: 0px 0px 20px rgba(109, 198, 36,0.6);
            }
            
        }
        .aditional{
            flex-flow: column;
            opacity: 0;
        }        
    }
    @media(max-width: 768px){
        *{
            font-size: 2.5vh;
        }
        h2{
            font-size: 4vh;
        }
        p{
            margin-bottom:1vh;
        }
    }
    
}




