
  .bg-black {
    background: #000;
  }
  .cajas{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1%;
    .white{
      border: 1px solid white;
    }
    .green{
      border: 1px solid #68fe01;
    }
    div{
      display: grid;
      grid-template-rows: 80% 20%;
      align-items: center;
    }
    @media (max-width:768px) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 4% 2%;
    }
  }
  
  @media (min-width: 991px) and (max-width:1200px) {
    .skill-block {
      padding: 32px !important;
    }
  }
  
  @media (min-width: 1200px) {
    .skill-block {
      padding: 56px !important;
    }
  }
  .fa-heart{
    color: #68fe01 !important;
    &.fa{
      color: #42b4ca !important;
    }
  }
