<div class="container mt-5 mb-5">
    <div class="row no-gutters justify-content-center">
        <div class="col-md-4 col-lg-4">
            <img [src]="character.image" class="img-fluid w-100 rounded">
        </div>
        <div class="col-md-8 col-lg-6 d-flex align-items-center">
            <div class="d-flex flex-column"> 
                <div class="p-3 bg-black text-white">
                    <h3 class="display-5">{{character.name}} 
                        <i class="fa-regular fa-heart" *ngIf="!character.favorite" (click)="setFavorite(true)"></i>
                        <i class="fa fa-heart " *ngIf="character.favorite" (click)="setFavorite(false)"></i>
                    </h3>
                    <h6 class="c-pointer" [routerLink]="characterService.getLocationUrl(character)">Ubicación: {{character.location?.name}}</h6>
                </div>
                <div class="text-white cajas ">
                    <div class=" text-center rounded p-0 white">
                        <h4>{{character.gender}}</h4>
                        <h6>Género</h6>
                    </div>
                    <div class=" text-center rounded p-0 green">
                        <h4>{{character.status}}</h4>
                        <h6>Estado</h6>
                    </div>
                    <div class=" text-center rounded p-0 white">
                        <h4>{{character.species}}</h4>
                        <h6>Especie</h6>
                    </div>
                    <div class=" text-center rounded p-0 green">
                        <h4>{{character.type}}</h4>
                        <h6>Tipo</h6>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between p-md-3 p-4 align-items-center text-white">
                     <p><b>Episodios:</b>{{characterService.getCaps(character)}}</p>
                </div>
            </div>
        </div>
    </div>
</div>