<section class="row mx-0 w-100 align-items-center justify-content-center overflow-hidden">
    <div class="col-md-11 p-0 overflow-hidden">
        <div class="row mx-0">
            <div class="col-md-6 p-0 information my-md-0 my-4">
                <div class="row mx-0 h-100">
                    <div class="col-md-12 p-md-4 ">
                        <h1 class="text-white">Nombre: <br>{{this.location.name}}</h1>
                    </div>
                    <div class="col-md-12 p-md-4 bg-rick  d-grid align-content-center rounded">
                        <h2 class="col-12 p-0">Dimensión: {{this.location.dimension}}</h2>
                        <h3 class="col-12 p-0">Tipo: {{this.location.type}}</h3>
                        <h3 class="col-12 p-0">Residentes: {{this.location.residents?.length}}</h3>
                    </div>

                </div>
            </div>
            <div class="col-md-6 p-0 overflow-hidden">
                <div class="row mx-0 overflow-hidden">
                    <swiper [effect]="'coverflow'" [initialSlide]="getInitialSlide()" [centeredSlides]="true"
                        [slidesPerView]="1.5" [loop]="true"
                        [coverflowEffect]="{rotate: 0,stretch: 0,depth: 500,modifier: 1,slideShadows: true}"
                        [navigation]="true" class="mySwiper overflow-hidden col-11 overflow-hidden">
                        <ng-template swiperSlide *ngFor="let residentId of this.location.residents">
                            <div class="row mx-0" [routerLink]="'/detail/'+residentId">
                                <div class="col-md-11 p-0">
                                    <img [src]="'https://rickandmortyapi.com/api/character/avatar/'+residentId+'.jpeg'"
                                        class="w-100 img-fluid rounded" />
                                </div>
                            </div>
                        </ng-template>

                    </swiper>
                </div>
            </div>
        </div>
    </div>
</section>