<header class="d-flex flex-wrap align-items-center justify-content-md-end p-3 mb-4 border-bottom position-relative">
  
  <div class="col-md-12 col-8 text-end">
    <div class="row mx-0 justify-content-center">
      <div class="col-md-4 col-lg-3 p-lg-2 p-md-3" routerLink="/">
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Rick_and_Morty.svg" alt="" class="img-fluid w-100">
      </div>
    </div>
  </div>
  <ul class="nav col-4 col-md-auto mb-2 justify-content-end mb-md-0 position-md-absolute">
    <li><a routerLink="/favorites" class="nav-link text-uppercase px-2 link-secondary">Favoritos</a></li>
  
  </ul>

</header>
<main class="row justify-content-center mx-0">
  <router-outlet></router-outlet>
</main>
<footer>
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 text-muted">© 2022 Harvy Mina </span>
    </div>

    
  </footer>
</footer>  