<div class="row mx-0 justify-content-center">
    <section>

    </section>
    <section class="col-11 p-0">
        <h1 class="text-white">Personajes</h1>
        <div class="row mx-0">
            <app-caracter-card class="col-md-3 col-12 p-md-3 p-1" *ngFor="let character of characterList" [character]="character" [routerLink]="'/detail/'+character.id"></app-caracter-card>
            <div class="col-12 p-md-2">
                <div class="row mx-0 justify-content-center">
                    <button class="btn-outline-light btn-rick col-md-4 col-lg-3 rounded" (click)="cargarMas()">Cargar Más</button>
                </div>
            </div>
        </div>
    </section>
</div>
