/* You can add global styles to this file, and also import other style files */
@import "bootstrap";
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
@import "swiper/scss/effect-coverflow";
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Titan+One&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");


html,body{
    width: 100%;
    height: 100%;
    main{
        *{
            padding: 0;
        }
    }
}
body{
    
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
h4,h5,h6,p,*{
    font-family: 'Londrina Solid', cursive;
}
h1,h2,h3,
.tittle{
    font-family: 'Titan One', cursive;
}
//cursor pointer 
.c-pointer{
    cursor: pointer;
}
